.descriptionbox {
    width: 700px;
    height: 200px;
}

.descriptiontext {
    text-align: left;
    margin-left: -376px;
}

.filecss {
    width: 300px;
    height: 40px;
}

.filetext {
    text-align: left;
    margin-left: -908px;
}