.NavBar {
    background: transparent;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #dfe3e8;
    border-radius: 0;
    height: 80px;
    width: 100vw;
    z-index: 100;
}

.link-navbar {
    color: white;
    text-decoration: none;
}

.link-navbar:hover {
    color: #212529 !important;
}

.nav-drop {
    background: transparent;
    text-decoration: none;
    color: white;
}

.navbar-collapse {
    background-color: black !important;
}

.link-dropdown {
    color: white;
    text-decoration: none;
}

.dropdown-menu {
    background: #212529 !important
}

.btn {
    color: blueviolet !important;
    text-decoration: none;
}