.carousel {
    position: relative;
    width: 100%;
    margin: auto;
}

.home-page {
    width: 100% !important;
}

.section-one {
    height: 100%;
}

.title {
    text-align: left;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-left: 10px;

}

.focus {
    text-align: left;
    color: grey;
    margin-top: -15px;
    margin-left: 15px;

}

.section-two {
    margin-top: 70px;
}

.week-artist {
    width: max-content;
    display: flex;
    justify-content: center;
}

.article {
    width: 700px;
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 100px 0 0 100px;
}

.lauraimg {
    display: flex;
    height: 400px;
    width: 400px;
    margin: 25px 0 20px 150px
}


@media (max-width: 1200px) and (min-width: 950px) {
    .article {
        width: 500px;
    }
}

@media (max-width: 950px) {
    .week-artist {
        display: block
    }

    .section-one {
        height: auto;
    }
}